<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Ready for scale</h2>
                    <h3 class="section-subheading text-muted">Designed with care to enable intelligence at the edge.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fab fa-docker fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Container native</h4>
                    <p class="text-muted">If you can containerise your apps, you can manage them with sklbl.io.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-microchip fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Any hardware</h4>
                    <p class="text-muted">Choose the hardware platform that fits your applications, including GPUs and peripherals.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Security by design</h4>
                    <p class="text-muted">Certified for stringent applications, protecting people, assets and outcome.</p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-cash-register fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Integrated Payments</h4>
                    <p class="text-muted">Flexible pay as you go and fixed plans, ensures price is simple, flexible and predictable.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-certificate fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Certified</h4>
                    <p class="text-muted">We are neutral to guarantee no lock-in, but our service is certified by market leaders.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x"><i class="fas fa-cash-register"></i>
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-store fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Marketplace ready</h4>
                    <p class="text-muted">Includes apps monetisation to ensure both open source and premium apps are available.</p>
                </div>
            </div>
        </div>
    </section>
